<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<base href="{{ .Site.BaseURL }}">
	<title>{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}">
	<link rel="stylesheet" href="css/style.css">
	<link rel="alternate" href="{{ .RSSLink }}" type="application/rss+xml" title="{{ .Site.Title }}">
</head>
<body>
	<header>
		<div class="container">
			<img src="img/header-methodologie.png" alt="" class="header-img">
			<h1><span>Présentation</span> de la <span>rubrique</span></h1>
			<div class="header-right">
				<a href="" class="strange-boxed">La frise</a>
				<a href="" class="strange-boxed">Méthodologie</a>
			</div>
		</div>
	</header>
	<div class="page">